[submodule "csrc/cutlass"]
	path = csrc/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "3rd/minicpm4"]
	path = 3rd/minicpm4
	url = git@github.com:hansjohn/minicpm4_multi_batch_dev.git
